<html>

<head>
    <meta charset="UTF-8">
    <title>添加商品</title>
    <!-- <script src="/static/scripts/jquery.js"></script>
    <script src="/static/scripts/md5.js"></script>
    <script src="/static/scripts/common.js"></script>
    <script src="/static/scripts/register.js"></script> -->
    <link href="/static/css/main.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <form class="loginBox" action='add_product' method="POST">
            <div class="loginBoxCenter">
                {% if err_msg%}
                <div class="err_msg" id="error_hint">提示：{{err_msg}}</div>
                {% endif%}
                <br>
                <label for="productName">商品名称：</label>
                <input type="text" id="productName" name="productName" placeholder="商品名称" class="loginInput" value="{{request.form['productName']}}">
                <br>
                <label for="price ">定价  ：</label>
                <input type="text" id="price" name="price" placeholder="定价" class="loginInput" value="{{request.form['price']}}">
                <br>
                <label for="origination">货源地 ：</label>
                <input type="text" id="origination" name="origination" placeholder="货源地" class="loginInput" value="{{request.form['origination']}}">
                <br>
                <label for="brand">品牌  ：</label>
                <input type="text" id="brand" name="brand" placeholder="品牌" class="loginInput" value="{{request.form['brand']}}">
                <br>
                <label for="type">种类  ：</label>
                <input type="text" id="type" name="type" placeholder="种类" class="loginInput" value="{{request.form['type']}}">
                <br>
                <label for="details">详情  ：</label>
                <input type="text" id="details" name="details" placeholder="详情" class="loginInput" value="{{request.form['details']}}">
                <br>
                <!-- <label for="imgPath">上传图片：</label>
                <input type="text" id="imgPath" name="imgPath" placeholder="图片" class="loginInput" value="{{request.form['imgPath']}}">
                <br> -->
            </div>
            <div class="loginBoxButtons">
                <button id="btnReset" type="reset" class="resetBtn">重置</button>
                <!-- <button id="btnReset" type="reset" class="resetBtn">取消</button> -->
                <button id="btnRegister" type="submit" class="loginBtn">添加</button>
            </div>
        </form>
    </div>
</body>

</html>