<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
</head>

<body>
    Hello ,{{g.user.username}}!
    {%if msg%}
    {{msg}}
    {%endif%}
    <!-- {% if g.user.role==0%}
    <a href="index_admin">管理员首页</a>
    {%endif%} -->
    <a href="/index_admin">管理员首页</a>
    <a href="chart">我的购物车</a>
    {% for prod in prods%}
    <hr />
    商品名：{{prod.name}}
    价格：{{prod.price}}

    <a href="product_detail/{{prod.productID}}">查看详情</a>
    <a href="add_cart/{{prod.productID}}">加入购物车</a>
    {%endfor%}
</body>

</html>