<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/static/css/main.css" type="text/css" rel="stylesheet">
    <title>首页</title>
</head>

<body style="margin:0;padding:8px;">
    <div class="top">
        <div class="cols six">
            Hello ,{{g.user.username}}!
        </div>
        <a class="cols six" href="chart" class="forgetLink">我的购物车</a>
        <a class="cols six" href="orders" class="forgetLink">我的订单</a>
        {% if g.user.role==0%}
        <a class="cols six" href="index_admin" class="forgetLink">管理员首页</a>
        {%endif%}
        {%if msg%}
        <div class="cols six">{{msg}}</div>
        {%endif%}
    </div>
    <hr />
    <div>
        <form action="search" method="POST">
            <input type="search" id="search" name="search" placeholder="搜索" class="loginInput" value="{{ request.form['search'] }}">
            <button type="submit" class="loginBtn">搜索</button>
        </form>
        <hr />
        <ul>
            {% for prod in prods%}
            <li style="display:block;">
                <div class="cols eight"> 商品名：{{prod.name}}</div>
                <div class="cols eight">价格：{{prod.price}}</div>
                <div class="cols eight">货源地：{{prod.origination}}</div>
                <div class="cols eight">销量：{{prod.saleVolume}}</div>
                <div class="cols eight">浏览量：{{prod.view}}</div>
                <a class="cols eight" href="product_detail/{{prod.productID}}" class="forgetLink">查看详情</a>
                <a class="cols eight" href="add_cart/{{prod.productID}}" class="forgetLink">加入购物车</a>
                <a class="cols eight" href="buy/{{prod.productID}}" class="forgetLink">购买</a>
            </li>
            {%endfor%}
        </ul>
    </div>
</body>
<style>
    li:nth-of-type(even) {
        background-color: white;
    }

    li:nth-of-type(odd) {
        background-color: #F0F4F6;
    }

    .cols {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .three {
        width: 33%
    }

    .four {
        width: 25%;
    }

    .five {
        width: 20%;
    }

    .six {
        width: 16%;
    }

    .eight {
        width: 12.5%;
    }
</style>

</html>