<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品详情--{{prod.name}}</title>
</head>

<body>
    <a href="/index">回首页</a>
    <table>
        <tr>
            <td>名称：</td>
            <td>价格：</td>
            <td>浏览量：</td>
            <td>品牌:</td>
            <td>种类：</td>
            <td>详情：</td>
        </tr>
        <tr>
            <td>{{prod.name}}</td>
           <td>{{prod.price}}</td> 
           <td>{{prod.view}}</td>
           <td>{{prod.brand}}</td>
           <td>{{prod.type}}</td>
           <td>{{prod.details}}</td>
        </tr>
    </table>
  
</body>

</html>